/* Stili globali per l'app */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

nav {
  margin-bottom: 20px;
}

nav button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  background-color: #cccccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button.active {
  background-color: #4caf50;
  color: white;
}

nav button:hover {
  background-color: #256ac4;
}

main {
  margin-top: 20px;
}
